/* ARTICOLO BLOG.JS */

.articolo-blog {
    margin-top: 25px;
    margin-bottom: 25px;
}

.img-articolo-blog {
    width: 60%;
}


/* SCHEDA ARTICOLO.JS */

.img-articolo {
    width:100%;
    margin-top: 20px;
}



/* MEDIA QUERIES */


@media only screen and (max-width: 991px) {
    .img-articolo {
        width: 350px;
        margin-top: 0px;
    }
    .testo-articolo {
        margin-top: 30px;
    }
}