#bottoneApriSchedaFilm {
    background-color: #983232;
    color: #fef1e7;
}

.titoloFilmSchedaFilm {
    margin-top: 10px;
}

.imgSchedaFilm {
    width: 150px;
    float: left;
}

#bottoneSchedaFilm {
    background-color: #983232;
    color: #fef1e7;
}

.headerModal {
    background-color: #fef1e7;
}

.bodyModal {
    background-color: #fef1e7;
}

.footerModal {
    background-color: #fef1e7;
}