/* SCHEDA ORARI FILM */

.img-scheda-film {
    width: 200px;
    height: auto;
    display: block;
}

.orario-film {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.scheda-film {
    border-top: 1px solid red;
    padding-top: 40px;
    padding-bottom: 40px;
}

.titolo-orari-film {
    margin-bottom: 20px;
}


.div-orari {
    margin-top: 10px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 991px) {
    .orari {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .dati-film {
        margin-top: 30px;
    }
}