/* PARTE DEL MENU */

.linkNav{
    color: #fef1e7;
    text-decoration: none;
}

.linkNav:hover {
    color: #6996b3;
    text-decoration: none;
}

#dropdownMenu {
    background-color: #983232;
}

#dropdownToggle-navLogout {
    color: #fef1e7;
}

#dropdownToggle-navLogout:hover {
    color: #6996b3;
}

#dropdownItem:hover {
    background-color: #983232;
}

#dropdownItem2:hover {
    background-color: #983232;
}


/* PARTE DEL LOGIN */

#dropdownLogin {
    background-color: #983232;
}

.dropdown-divider {
    background-color: yellow;
}
