/* NAVLOGIN E NAVLOGOUT */

.nav-sdv {
    z-index: 200;
    background-color: #983232;
    color: #fef1e7;
}

.nav-logo {
    width: 125px;
}

.link-nav{
    color: #fef1e7;
    text-decoration: none;
}

.link-nav:hover {
    color: #6996b3;
    text-decoration: none;
}

#dropdown-menu, .dropdown-menu .dropdown-menu-right  {
    background-color: #983232;
}
.navbar-red{
    background-color: #983232;
    padding: 1.25rem 1.5rem;
    color: #fff;
}

#dropdown-toggle-nav-logout {
    color: #fef1e7;
}

#dropdown-toggle-nav-logout:hover {
    color: #6996b3;
}

.dropdown-item:hover {
    background-color: #983232;
}




/* PARTE DEL LOGIN */

#dropdownLogin {
    background-color: #983232;
}

.ul-login {
    list-style: none;
    padding-left: 0px;
}

.btn-login {
    background-color: #fef1e7;
    color: black;
}