/* PARTE DEL MENU */

.linkNav{
    color: #fef1e7;
    text-decoration: none;
}

.linkNav:hover {
    color: #6996b3;
    text-decoration: none;
}

#dropdownMenu, .dropdown-menu .dropdown-menu-right  {
    background-color: #983232;
}
.navbar-red{
    background-color: #983232;
    padding: 1.25rem 1.5rem;
    color: #fff;
}

#dropdownToggle-navLogout {
    color: #fef1e7;
}

#dropdownToggle-navLogout:hover {
    color: #6996b3;
}

#dropdownItem:hover {
    background-color: #983232;
}

#dropdownItem2:hover {
    background-color: #983232;
}


/*.navbar-collapse.show{
    height: 100vh;
} */


/* PARTE DEL LOGIN */

#dropdownLogin {
    background-color: #983232;
}

.ul-login {
    list-style: none;
    padding-left: 0px;
}
