.titoliCentrati {
    text-align: center;
}

.imgCinemaHome {
    width: 100%
}

#bottoneHome1 {
    background-color: #983232;
    color: #fef1e7;
}

#bottoneHome2 {
    background-color: #983232;
    color: #fef1e7;
}