.prova-nuovo {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 555px;
    height: 350px;

}

#testoCercaFilm {
    width: 300px;
}

.imgCercaFilm {
    width: 200px;
}

.bottoneScheda {

}