/* Body del mainTemplate: */

.main-body {
    background-color: #fef1e7;
    padding-top: 148px;
    padding-bottom: 50px;
}


/* H1, H2, H3, H5 e p del mainTemplate */

h1 {
    text-align: center;
    font-family: 'Asap', sans-serif;
    color:#983232;
    font-weight: bold;
    font-size: 3.5em;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Asap', sans-serif;
    color: #6996b3;
    font-weight: 600;
    font-size: 2.3em;
}

h3 {
    font-family: 'Asap', sans-serif;
    color: #6996b3;
    font-weight: 500;
    font-size: 1.9em;
    margin-top: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3em;
    }
}



/* BOTTONE */

.btn-sdv {
    background-color: #983232;
    color: #fef1e7;
}

.btn-sdv:hover {
    background-color: #ba0606;
    color: #fef1e7;
}

.btn-sdv:focus {
    background-color: #983232;
    color: #fef1e7;
}


/* OROLOGIO */

.orologio {
    position: fixed;
    top: 30px;
    right: 50px;
    z-index: 300;
}

@media only screen and (max-width: 768px) {
    .orologio {
        display: none;
    }
}