/* FOOTER */

.footer-bg {
    background-color: #983232;
    color: #fef1e7;
}

hr {
    background-color: #fef1e7;
}

.link-footer{
    color: #fef1e7;
    text-decoration: none;
}

.link-footer:hover {
    color: #6996b3;
    text-decoration: none;
}

.social-icon-on {
    width: 30px;
    margin-top:15px;
}

.social-icon-off {
    width: 30px;
    margin-top:15px;
}

.social-icon-off, .link-social:hover .social-icon-on{
    display:none;
}
.social-icon-on, .link-social:hover .social-icon-off{
    display: block;
}

.link-social {
    width:30px;
}
