

#scrittaFooter {
    font-size: 60pt;
    text-align: center;
}


.linkFooter{
    color: #fef1e7;
    text-decoration: none;
}

.linkFooter:hover {
    color: #6996b3;
    text-decoration: none;
}

.socialIconOn {
    width: 30px;
    margin-top:15px;
}

.socialIconOff {
    width: 30px;
    margin-top:15px;
}

.socialIconOff, .linkSocial:hover .socialIconOn{
    display:none;
}
.socialIconOn, .linkSocial:hover .socialIconOff{
    display: block;
}

.linkSocial {
    width:30px;
}
